body {

    background-color: #e4e4de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#container{

    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:20px;

}

#cartLink{

    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: goldenrod;
    padding: 10px 15px 10px 15px;
    border: 1px;
    border-radius: 10px;
    background-color: purple; 
  
}
#cartLink:hover{

    color: purple;
    background-color: goldenrod;
}
#cartWrapper{
    margin-top:15px;
}

#login{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: goldenrod;
    padding: 10px 15px 10px 15px;
    border: 1px;
    border-radius: 10px;
    background-color: purple;
}
#login:hover{
    color: purple;
    background-color: goldenrod;
}
#loginWrapper{
    margin-top:10px;
}

.error{
    color: red;
}

#productsBtn{
    margin-top: 20px;
}

#mailSent{
    color: green;
}